body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  padding: 0;
}

* { box-sizing: border-box; }

#content {
  width: 90%;
  margin: auto;
  padding: 0;
}

@media screen and (min-width: 800px) {
  #content {
    width: 720px;
  }
}

#content-inner {
  margin-top: 100px;
  background-color: white;
}

#title {
  padding-top: 10px;
  font-size: 46px;
  font-family: sans-serif;
  height: 75px;

  color: white;

  background: #692C2C;
  background-image: -ms-linear-gradient(top left, #FF0000 0%, #692C2C 100%);
  background-image: -moz-linear-gradient(top left, #FF0000 0%, #692C2C 100%);
  background-image: -o-linear-gradient(top left, #FF0000 0%, #692C2C 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF0000), color-stop(1, #692C2C));
  background-image: -webkit-linear-gradient(top left, #FF0000 0%, #692C2C 100%);
  background-image: linear-gradient(to bottom right, #FF0000 0%, #692C2C 100%);
}

.dance {
  padding-left: 40px;
  width: 100%;
  font-size: 20px;
  padding: 3px;
  overflow: scroll;
}

.dance:nth-child(odd) {
  background-color: #DDD;
}

.dance-internal {
  margin: 10px;
}

#dances {
  padding-bottom: 5px;
}

html, body {height: 100%;}

#wrap {
  min-height: 100%;
}

#content {
  overflow:auto;
  padding-bottom: 40px;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  padding: 0px;
  height: 40px;
  padding-top: 4px;
  clear:both;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
}

#back:link {text-decoration: none; color: #CCC}
#back:visited {text-decoration: none; color: #CCC}
#back:active {text-decoration: none; color: #CCC}
#back:hover {text-decoration: underline; color: #CCC}
